body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #001222;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: white;
  padding-bottom: 25px;
  text-align: center;
}