<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Repository Info</title>
  </head>
  <body>
    <h1>Get Repository Information</h1>
    <form id="repoForm">
      <label for="repo_url">Repository NAME:</label>
      <input type="text" id="repo_name" name="repo_name" required />
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
      <button type="submit">Get Info</button>
    </form>

    <div id="result"></div>

    <script src="{{ url_for('static', filename='js/getinfo.js') }}"></script>
  </body>
</html>