<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Repository info</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
      <a href="/getgitlabinfo">Get Gitlab Information</a>
      <a href="/getinfo">Get Repository Information From All API's</a>
      <a href="/getgithubinfo">Get Github Repository Information</a>
  </body>
</html>
